
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: blue url(../imagens/digitization-5231610.jpg) no-repeat ;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

header{
    font-size: 1.3em;
    color: white;
    text-align: center;
}

h1{
    text-shadow: 3px 3px 0px black;
}

p{
    margin-bottom: 5px;
}

section{
    position: absolute;
    background-color: aliceblue;
    /* background-color: rgba(0, 0, 0, 0.292);  */
    margin-top: 20px;
    width: 35%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campo{
    font-size: 1.5em;
    text-align: center;
    padding: 22px;
}

input{
    font-size:.8em;
    width: 400px;
    height: 25px;
}

select{
    width: 400px;
    height: 25px;
    font-size:.8em;
}